body{
	background-color: lightyellow;
}

h1{
font-size: 30px;
color: #B977FF;
}

h2{
font-size: 20px;
color: #7AFBFF;
}

.big{
font-size: 60px;
}

.uppercase{
text-transform: uppercase;
}

span{
	color: blue
}